
h1{
    color: #f58e85;
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    font-family: "Yanone Kaffeesatz", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #2f2e41;
}

.Chocolate-Weather-App-Wrapper{
    max-width: 900px ;
    margin: 30px auto;
}

.Chocolate-Weather-App{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #2f2e41;
    border-radius: 10px;
    background-color: #ffffff;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 20px;
    float: left;
        height: 64px;
        width: 64px;
}

.weather-temperature strong{
    color: #f58e85;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -34px;
}